allow init socket_device:sock_file create;
allow init socket_device:sock_file setattr;
allow init proc_touchpanel:file write;

allow init { domain -lmkd -crash_dump }:process noatsecure;

set_prop(init, wcnss_prop)
