allow init proc_touchpanel:file write;

allow init smd_device:chr_file { write };
allow init init:socket { bind read write create };
allow init init:netlink_socket { bind create write };
allow init init:netlink_xfrm_socket { bind create };
allow init init:rawip_socket { create getopt setopt };
allow init init:netlink_route_socket { bind read write create getattr setopt nlmsg_read nlmsg_write};
allow init tee_device:chr_file { write };
allow init ion_device:chr_file { write };
allow init thermal_device:chr_file { write };
allow init diag_device:chr_file { write };
allow init sensors_device:chr_file { getattr };
allow init sensors_data_file:file { getattr append };
allow init video_device:chr_file { write };
allow init qmuxd_socket:sock_file { write };
allow init socket_device:sock_file { create write getattr setattr };
allow init netd_socket:sock_file { write };
allow init system_data_file:fifo_file { write };
allow init uio_device:chr_file { write };
allow init modem_efs_partition_device:blk_file { write };
allow init ssd_device:blk_file { write };
allow init rpmb_device:blk_file { write };
allow init tee_device:blk_file { write };
allow init mediaserver:fd { use };
allow init netd:unix_stream_socket { connectto };
allow init vfat:file { read open getattr };

allow init self:socket ioctl;
allowxperm init self:socket ioctl msm_sock_ipc_ioctls;

set_prop(init, wcnss_prop)
