allow netmgrd shell_exec:file { getattr read open execute execute_no_trans };
allow netmgrd net_data_file:dir { open read getattr };
allow netmgrd toolbox_exec:file { open read getattr execute execute_no_trans };
allow netmgrd self:capability { dac_override };
allow netmgrd netd_socket:sock_file rw_file_perms;

allow netmgrd self:socket create_socket_perms;
allowxperm netmgrd self:socket ioctl msm_sock_ipc_ioctls;
allow netmgrd power_wakelock_file:file rw_file_perms;
