allow priv_app bootanim_exec:file { open read getattr };
allow priv_app bootstat_exec:file { open read getattr };
allow priv_app cameraserver_exec:file { open read getattr };
allow priv_app clatd_exec:file { open read getattr };
allow priv_app dnsmasq_exec:file { open read getattr };
allow priv_app drmserver_exec:file { open read getattr };

allow priv_app hal_memtrack_hwservice:hwservice_manager { find };
# allow priv_app audioserver_exec:file { open read getattr };
allow priv_app { bluetooth_data_file radio_data_file system_app_data_file }:dir { getattr };
get_prop(priv_app, qemu_hw_mainkeys_prop)
