allow qmuxd sysfs:file { open read getattr };
allow qmuxd diag_device:chr_file { open read write };
allow qmuxd power_wakelock_file:file rw_file_perms;
