allow rild nv_data_file:dir { getattr search write create add_name };
allow rild nv_data_file:file { create open write };
allow rild radio_data_file:file rw_file_perms;
allow rild radio_data_file:file { create unlink };
allow rild radio_data_file:dir { open read write search add_name remove_name };
allow rild tee_device:chr_file r_file_perms;

binder_call(rild, servicemanager)
binder_call(rild, mediaserver)
binder_call(rild, audioserver)
binder_call(audioserver, rild)

allow rild { mediaserver_service audioserver_service }:service_manager find;

allow rild ssr_device:chr_file r_file_perms;
r_dir_file(rild, sysfs_ssr)

allow rild power_wakelock_file:file rw_file_perms;
