allow servicemanager rild:file r_file_perms;
allow servicemanager rild:dir { search };
allow servicemanager rild:process { getattr };
allow servicemanager sysfs:file { open read getattr };
