allow vold persist_file:dir { open read search };
allow vold proc_touchpanel:dir { open read };
allow vold power_wakelock_file:file rw_file_perms;

# Encryption
allow vold firmware_file:dir search;
allow vold firmware_file:file r_file_perms;
